body{
  background-color: #F8F9FD;
  font-family: Arial, Helvetica, sans-serif;
}

.form{
  width:30%;
  padding:0px;
  margin: 2% auto;
  box-shadow: rgba(0, 0, 0, 0.445) 0px 10px 34px -15px;
  padding:30px;  
}

.imgcontainer {
  text-align: center;
  margin: 14px 0 7px 0
}

img.icon {
  width: 80px;
  border-radius: 50%;
}  

input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 4px 8px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
}

button {
  background-color: #198754;
  color: white;
  padding: 7px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input:focus
{
  border: 1.5px solid #198754;
  box-shadow: 0 0 3px #198754;
  outline: none;
}

